[submodule "Assignments/20-1"]
	path = Assignments/20-1
	url = http://github.com/moovinzoo/20-1.git
	branch = backup_211204
[submodule "Assignments/20-2/Software/Report/swpp2020-team17.wiki"]
	path = Assignments/20-2/Software/Report/swpp2020-team17.wiki
	url = https://github.com/swsnu/swpp2020-team17.wiki.git
[submodule "Projects/swpp2020-team17"]
	path = Projects/swpp2020-team17
	url = https://github.com/swsnu/swpp2020-team17
[submodule "Projects/DB-2team"]
	path = Projects/DB-2team
	url = https://github.com/Do-iM/DB-2team
